
* {
    padding: 0;
    margin: 0;
    -moz-box-sizing: border-box;
}

html {
     min-height: 100%;
}

body {
    margin: 0;
    font-family: sans-serif;
    line-height: 1.6;
    min-height: 100%; 
    background-image: -moz-radial-gradient(top, circle, #00A5C5 40%, #004AAB 95%); 
}

.content {
    padding: 1.6rem;
    text-align:center;
}

.top {
    position: relative;
    width: 100%;
    text-align: center;
    color: #fff;
    padding: 0.75rem 0.5rem;
    text-shadow: 3px 2px 1px #111;
    font-weight: normal;
    border-bottom: 2.5px solid #666666;

}

.action-button {
  width: 15rem;
  position: relative;
  font-size: 1.6rem;
  padding: 10px 40px;
  border-radius: 10px;
  color: #FFF;
  text-decoration: none;
  transition: all 0.1s;
  background-color: #323232;
  border-bottom: 5px solid #666;
  text-align: center;
}

.action-button:active {
  transform: translate(0px, 5px);
  border-bottom: 1px solid;
}

#exit {
    position: relative;
    float: right;
    top:-4px;
    width: 60px; 
    height: 60px;    
}

p {
    margin: 1rem 0;
}

