
* {
    padding: 0;
    margin: 0;
    -moz-box-sizing: border-box;
}

html {
     min-height: 100%;
}

body {
    margin: 0;
    font-family: sans-serif;
    line-height: 1.6;
    min-height: 100%; 
    background-image: -moz-radial-gradient(top, circle, #00CAF2 40%, #004AAB 95%);  
}


.content {
    padding: 1rem 0.5rem;
    text-align:center;
}

.top {
    position: relative;
    width: 100%;
    text-align: center;
    background: #00CAF2;
    color: #fff;
    padding: 0.75rem 0.5rem;
    text-shadow: 3px 2px 1px #111;
    font-weight: normal;
    border-bottom: 2px solid #444;
}

#exit {
    position: relative;
    float: right;
    top:-2px;
    width: 60px; 
    height: 60px;    
}

p {
    margin: 1rem 0;
}

button {
    height: 5.8rem;
    width: 14.8rem;
    margin: 0 0 1rem;
    padding: 0 1.5rem;
    background: #fafafa;
    border: 0.1rem solid #a6a6a6;
    font-size: 1.6rem;
    line-height: 3.8rem;
    color: #333;
    text-align: center;
    text-shadow: 0.1rem 0.1rem 0 rgba(255,255,255,0.3);
    text-decoration: none;
    outline: none;
    border-radius: 30px;
}
