
* {
    padding: 0;
    margin: 0;
    -moz-box-sizing: border-box;
}

html {
     min-height: 100%;
}

body {
    margin: 0;
    line-height: 1.6;
    min-height: 100%; 
    background-image: -moz-radial-gradient(top, circle, #525252 40%, #333 95%);
}

.content {
    padding: 1.6rem;
    text-align:center;
}

.top {
    font-family: sans-serif;
    position: relative;
    width: 100%;
    height: 3.1rem;
    line-height: 3.1rem;
    text-align: center;
    color: #fff;
    padding: 0 1rem 0 3rem;
    font-weight: lighter;
    font-style: italic;
    font-size: 12px;
    background: #0ac;
}

.action-button {
  font-family: sans-serif;
  font-style: italic;
  width: 100%;
  height: 3rem;
  margin: 1rem 0 1rem;
  padding: 0 1.2rem;
  -moz-box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  background: #d8d8d8;
  border: none;
  border-radius: 2rem;
  font-weight: normal;
  font-size: 1.2rem;
  line-height: 3rem;
  color: #333;
  text-align: center;
  text-decoration: none;
  outline: none;
}

.action-button:active {
  background-color: #b2f2ff;
  color: #fff;
}

#exit {
    position: relative;
    float: right;
    top:-4px;
    width: 2rem; 
    height: 60px;
}

p {
    margin: 1rem 0;
}

